*,
*::before,
*::after {
  box-sizing: border-box;
}

#container{
    border: 2px solid black;
    width: 560px;
    height: 560px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#container div{
border: 1px solid grey;
}