*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace, Arial, sans-serif;
}

.center {
  margin: 60px auto 40px auto;
  width: 560px;
  justify-items: center;
  text-align: center;
}

h2,
h3 {
  margin: 5px;
}

main {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: 0 auto;
}

#container,
#container div {
  user-select: none;
  -webkit-user-drag: none;
}

#container {
  border: 2px solid black;
  width: 560px;
  height: 560px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#container div {
  border: 1px solid grey;
}

button {
  background-color: rgb(18, 18, 180);
  font-size: 25px;
  color: white;
  margin-top: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
}

.settings > button {
  font-size: 20px;
  margin: 10px;
  height: 72px;
}
